.Search_All {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    width: 400px !important;
    background: #f9f8fb;
    border-right: 1px solid #e4dff0;
    padding: 20px;
    border-radius: 0 30px 30px 0;
    z-index: 1;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.06);
}


.Search_All h2{
 font-size: 20px;
 font-weight: 700;
 padding-left: 12px;
 color: #3a2c4b;
 margin-bottom: none;
}


.person-list, .group-list {
    width: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.person_name_pfp, .group_pic_name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.person, .group {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 padding: 10px 12px;
 border-radius: 12px;
 cursor: pointer;
 transition: background 0.1s ease-in-out;
 
}

.group-list{
    margin-top: 30px;
}

.person:hover, .group:hover {
 background: rgba(212, 176, 212, 0.315) !important;
 border: 0.5px solid rgba(212, 176, 212, 0.418);
}

.Search_All .selected{
 background: rgb(255, 255, 255) !important;
 border: 0.5px solid rgba(212, 176, 212, 0.418);
}


.person_pfp, .group_pic{
 width: 40px;
 height: 40px;
 border-radius: 50%;
}
 
.group-btn{
    width: 100%;
    padding: 8px 20px;
    margin-top: 0px;
}

