.Navbar{
    overflow: visible;
    background-color: #ffffffce;
    height: 100vh;
    width: 100px;
    position: sticky;
    top: 0;
    padding: 18px;
    border-radius: 0 50px 50px 0px;
}

.myAvatar img{
    width: 60px;
    border-radius: 50%;
}

.navIcons{
    margin: 50px 0;
}

.navIconsList{
    list-style: none;
}

.navIconsList ul{
    display: flex;
    flex-direction: column;
    gap: 1.6lh;
    align-items: center;
    justify-content: center;
}

/* style buttons like your previous <a> tags */
.navIconsList ul .navbtn {
    background-color: inherit;
    padding: 8px 10px;
    border-radius: 50%;
    color: #7E5C96;
    transition: all 0.2s ease-in-out;
    border: none;
    cursor: pointer;
}
.navIconsList ul .navbtn:hover {
    background-color: #7E5C96;
    color: #fff;
}

.icon{
    stroke-width: 30;
    font-size: 1.5em;
}
.icon2{
    stroke-width: 2.5;
}
.icon3{
    stroke-width: 50;
}
